/*

    #4a8853 , #427A4B
    
    green: #B2E6D4 , #689689 , #83E8BA , #293833
    brown: #A49E8D , #504136
    brown ext.: #b1aa98 #8d7665 #614d3f #504136



@main_02: #f2ffee;
@main_01: #9aceb0;
@main_00: #0e190e;

@accent_03: #b1aa98;
@accent_02: #8d7665;
@accent_01: #614d3f;
@accent_00: #504136;

*/
/* == FONTS == */
@font-face {
  font-family: opendyslexic;
  src: url(fonts/OpenDyslexic-Regular.otf);
}
@font-face {
  font-family: ashley;
  src: url(fonts/ashleysfont2.ttf);
}
@font-face {
  font-family: mono;
  src: url(fonts/MartianMono-Medium.ttf);
}
/* == MAIN == */
h1 {
  font-family: ashley;
  font-size: 11vmin;
  margin-bottom: 1vmin;
  margin-top: 12px;
}
body {
  background-color: #111;
}
#gradient {
  font-family: opendyslexic;
  color: #ececec;
  font-size: 21px;
  background-attachment: fixed;
  background: linear-gradient(228deg, #073b23, #0f6e42, #fd1d1d, #fcb045);
  background-position: 100% 50%;
  background-size: 400% 400%;
}
section {
  display: grid;
  place-items: center;
  align-content: center;
  text-align: center;
}
.terminal {
  font-family: mono;
  color: #ececec;
  margin-bottom: 10px;
  font-size: 6vmin;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.1em;
  width: 11.1em;
  border-right: 0.7em solid #ececec;
  animation: typing 2s steps(14, end), blink-caret 1s step-end 2s infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 11.1em;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: #ececec;
  }
  50% {
    border-color: transparent;
  }
}
.comment {
  color: #555;
  margin-top: 1.7vmin;
  font-family: mono;
  font-size: 5vmin;
}
.linenum {
  color: #20381f;
  font-family: mono;
  font-size: 6vmin;
  margin-right: 1em;
  float: left;
}
.pause {
  margin-bottom: 20vh;
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.pfp {
  position: relative;
  top: -146px;
  margin-bottom: -128px;
}
@media (prefers-reduced-motion: no-preference) {
  .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-5%);
    transition: all 0.75s;
    transition-delay: 100ms;
  }
}
.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
}
audio {
  transition-delay: calc(100ms + 100ms * var(--order));
}
